{{ extend "layout.html" }}

<h1>bioJSON Format Specification</h1>

<pre>
var graph = {
	nodes : [
			{
			'id' : 0,
			'clone_marker' : -1,		// specifies whether a node is a clone of another node. -1 means no, numbers > -1 specify the id of the cloned node
			'type' : 'simple_species',	// 'complex_species', 'compartment', 'reaction', ‘info’
			'sbo' : 252,			// e.g. 252 is a polypeptide chain // type and sbo term define the shape of the node
			'visible' : true,		// if true, the node will not appear in the layout. It will only serve as a specific prototype
			'x' : 50,			// if the node is visible and no compartment
			'y' : 300,
			'width' : 100,			// neither for small chemical compounds nor for complexes
			'height' : 80,
			'radius' : 30,			// only for small chemical compounds
			'label' : 'ATP',		// there could be a node type which doesn't have a label, e.g. a drag handle
			'subcomponents' : [[1,2,3],4],	// only for complex species: html table like reference to ids of subcomponents of this complex
			'compartment' : 1,		// id of localization of a species in a compartment, -1 or not set if outside
			'modifications' : ["SBO216"],	// if species: list of modifications of certain residuals, e.g. phosphorylation (SBO term 216) of second amino acid of a protein (or “Y2” instead of “2”)
			},
			{
			more nodes
			...
   		],
	edges : [
			{
			'id' : 2,
			'source' : 0,
			'target' : 1,
			'sbo' : 10,		// 10=reactant, 11=product, 20=inhibitor, 460=enzymatic_catalyst
			'arrow' : 'target',	// source|target|both|null
			'type' : 'straight',	// straight|curve
			'style' : 'solid',	// solid|dashed|dotted
			'thickness' : 1,	// line thickness
			'label_x': 10,
			'label_y': 15,
			'label' : '42',
			'handles' : [3, 4],	// The ids of some nodes which are used to modify the shape of the edge
			},
			{
			more edges
			...
		]
	}
</pre>
