{{extend 'layout.html'}}

<form action=upload method=POST>

<img src="{{=URL(r=request, c="static", f="images")}}/ODF.jpg" height=120/>
<br/>
<br/>

Please upload your file: <input type=file name=File onChange="submit();"/> <input type=submit value=Load />

<hr/>

Note: In order to use this code on your machine, you need to get <a href="http://odfpy.forge.osor.eu/">python-odf</a>, a project of the <a href="http://opendocumentfellowship.com/projects/odfpy">OpenDocument Fellowship</a>, from <a href="http://forge.osor.eu/frs/download.php/1501/odfpy-0.9.3.tar.gz">here</a>.<br/>
License is CC BY-SA 2.5.<br/>

</form>

