{{extend 'layout.html'}}

<h1>Roadmap</h1>

<ul>
	<li><strike>rearrange views and controllers</strike></li>
	<li>include up-to-date layouter</li>
	<li>include up-to-date visualizer</li>
	<li><strike>cut a node and it's neighbours out of the network</strike></li>
	<li>frontend to test the Dijkstra algorithmus</li>
	<li>simple model editor (mainly for testing purposes)</li>
	<li>enhance menu style</li>
	<li>static links and sessions: why is the session lost on every web2py reload?</li>
	<li>change div-based menu to css-based ul/li-listing</li>
	<li>web2py doctests</li>
	<li>documentation</li>
	<li>implement selfcheck function: edges may only connect a reaction to a species node, nothing else</li>
	<li>later: C-wrapper for the layouter</li>
	<li>later: store node interactions in a database for Thomas (?)</li>
	<li>depending on the PID team: SBML import from PID</li>
	<li>when there's time: BioPAX import</li>
</ul>
