{{extend 'layout.html'}}

<h1>Roadmap</h1>

<ul>
	<li>frontend to test the Dijkstra algorithmus</li>
	<li>include the up-to-date layouter and visualizer</li>
	<li>static links or sessions</li>
	<li>change div-based menu to css-based ul/li-listing</li>
	<li>web2py doctests</li>
	<li>server documentation</li>
	<li>implement selfcheck function: edges may only connect a reaction to a species node, nothing else</li>
	<li>later: C-wrapper for the layouter</li>
	<li>later: store node interactions in a database for Thomas (?)</li>
	<li>depending on the PID team: SBML import from PID</li>
	<li>when there's time: BioPAX import</li>
</ul>
