<style>
	#Console		{
				border:			1px solid gray;
				border-bottom:		none;
				position:		fixed;
				bottom:			0px;
				width:			90%;
				height:			30px;
				overflow:		hidden;
				background-color:	white;
				opacity:		1;
				}
	#Console:hover		{
				border:			3px solid blue;
				border-bottom:		none;
				height:			400px;
				overflow-y:		scroll;
				}
	#Console a		{
				text-decoration:	none;
				}
	#Console a:hover	{
				text-decoration:	underline;
				cursor:			pointer;
				}
	#Console h3		{
				padding:		0px;
				padding-left:		5px;
				}
	#Console hr		{
				padding:		0px;
				}
</style>


<div id=Console>
	<a name=Console href="{{ = URL(r=request, c='Workbench', f='Console') }}"><h3>Console</h3></a>
	<hr/>
	<pre>{{ try: }}{{ = session.bioGraph.DEBUG }}{{ except:pass }}</pre>
</div>
