<style>
	#menubar			{
					border:			1px solid gray;
					position:		relative;
					height:			30px;
					padding:		0px;
					margin:			5px 0px 20px 0px;
					color:			black;
					background-color:	#eaeaea; 
					opacity:		1;
					}
	#menubar a			{
					text-decoration:	none;
					color:			blue;
					width:			100%;
					padding:		3px;
					margin:			3px;
					}
	#menubar a:hover		{
					text-decoration:	none;
					background:		#8caed4;
					}

	div.spacer			{
					position:		relative;
					width:			auto;
					height:			30px;
					float:			left;
					}
	div.dropdown			{
					border:			none;
					position:		absolute;
					z-index:		+1;
					width:			auto;
					height:			20px;
					overflow:		hidden;
					padding:		5px;
					text-align:		left;
					opacity:		1;
					float:			left;
					}
	div.dropdown:hover		{
					height:			auto;
					cursor:			pointer;
					background:		#eaeaea;
					border:			1px solid black;
					opacity:		1;
					}
</style>

<div id=menubar>
	<div class=spacer style="left:0px;">
		<div class=dropdown>
			<a href="{{=URL(r=request, c='Workbench', f='index')}}">Workbench</a><br/>
			<a href="{{=URL(r=request, c='Workbench', f='Editor')}}">Editor</a><br/>
			<a href="{{=URL(r=request, c='Workbench', f='Cutter')}}">Cutter</a><br/>
		</div>
	</div>

	<div class=spacer style="left:110px;">
		<div class=dropdown>
			Layout<br/>
			<a href="{{=URL(r=request, c='Layout', f='biographer')}}">biographer</a><br/>
			<a href="{{=URL(r=request, c='Layout', f='graphviz')}}">graphviz</a><br/>
		</div>
	</div>

	<div class=spacer style="left:220px;">
		<div class=dropdown>
			Visualization<br/>
			<a href="{{=URL(r=request, c='Visualization', f='biographer')}}">biographer</a><br/>
			<a href="{{=URL(r=request, c='Visualization', f='example')}}">example</a><br/>
			<a href="{{=URL(r=request, c='Visualization', f='graphviz')}}">graphviz</a><br/>
		</div>
	</div>

	<div class=spacer style="left:330px;">
		<div class=dropdown>
			Import<br/>
			<a href="{{=URL(r=request, c='Import', f='JSON')}}">JSON</a><br/>
			<a href="{{=URL(r=request, c='Import', f='SBML')}}">SBML</a><br/>
			<a href="{{=URL(r=request, c='Import', f='BioModels')}}">BioModels.net</a><br/>
			<a href="{{=URL(r=request, c='Import', f='Reactome')}}">Reactome</a><br/>
		<!--	<a href="{{=URL(r=request, c='Import', f='ODP')}}">ODP</a><br/>
			<a href="{{=URL(r=request, c='BioPAX', f='importer')}}">BioPAX</a><br/>
			<a href="{{=URL(r=request, c='PID', f='importer')}}">PID</a><br/>
			<a href="{{=URL(r=request, c='BioCarta', f='importer')}}">BioCarta</a><br/>
			<a href={{=URL(r=request, c='PathVisio', f='importer')}}>PathVision</a><br/>
			<a href={{=URL(r=request, c='WikiPathways', f='importer')}}>WikiPathways</a><br/>	-->
		</div>
	</div>

	<div class=spacer style="left:440px;">
		<div class=dropdown>
			Export<br/>
			<a href="{{=URL(r=request, c='Export', f='JSON')}}">JSON</a><br/>
			<a href="{{=URL(r=request, c='Export', f='Layout')}}">Layout</a><br/>
	<!--		<a href="{{=URL(r=request, c='ODP', f='exporter')}}">ODP</a><br/>
			<a href="{{=URL(r=request, c='SBML', f='exporter')}}">SBML</a><br/>	-->

			<style>
				#format		{
						width:		60px;
						}
			</style>

			<script> 
				function ChangeFormat() {
					if (graph !== undefined) {
						document.getElementById('svg').value = graph.rawSVG();
						}
					document.Export.submit();
					}
			</script> 

			<form name=Export action="{{=URL(r=request, c='Export', f='Picture')}}" method=POST>
				<nobr>
				Picture: 
				<select name=format id=format onChange="ChangeFormat();">
					<option value='' selected></option>
					<option value='jpeg'>jpeg</option>
					<option value='png'>png</option>
					<option value='pdf'>pdf</option>
					<option value='svg'>svg</option>
					<option value='tiff'>tiff</option>
					<option value='eps'>eps</option>
				</select>
				<input type=hidden name=svg id=svg value=""/>
			</form>
		</div>
	</div>

	<div class=spacer style="left:590px;">
		<div class=dropdown>
			Project<br/>
			<a href="{{=URL(r=request, c='Project', f='Roadmap')}}">Roadmap</a><br/>
			<a target="_blank" href="http://code.google.com/p/biographer/">Home</a><br/>
			<a target="_blank" href="http://code.google.com/p/biographer/source/browse/?repo=server">Source</a><br/>
			<a target="_blank" href="http://code.google.com/p/biographer/source/list?repo=server">Changes</a><br/>
			<a target="_blank" href="http://code.google.com/p/biographer/source/checkout?repo=server">Checkout</a><br/>
			<a target="_blank" href="http://code.google.com/hosting/settings">Your password</a><br/>
			<a target="_blank" href="http://cheetah.biologie.hu-berlin.de/biographer/"><nobr>biographer installation @ HU-Berlin.de</nobr></a><br/>
		</div>
	</div>
</div>

