{{extend 'layout.html'}}

<style>
	#canvas			{
				position:		relative;
				border:			1pt solid #000;
				width:			100%;
				height:			75%;
				overflow:		scroll;
				}
	#canvas div		{
				border:			none;
				position:		absolute;
				color:			white;
				background-color:	 #4e4ea9;
				text-align:		center;
				vertical-align:		 middle;
				opacity:		.3;
				}
	#canvas div:hover	{
				cursor:			pointer;
				opacity:		.8;
				}
	#canvas img		{
				position:		relative;
				top:			50px;
				}
</style>

<script>
	function gotoDijkstra(ID) {
		#document.location.href = '{{ =URL(r=request, c="Workbench", f="Dijkstra") }}?ID='+ID;
		}
</script>

<a href="{{ = session.graphvizURL }}">{{ = session.graphvizURL }}</a>

<div id=canvas>

<img src="{{ = session.graphvizURL }}" />

{{ = XML(DijkstraMap) }}

</div>


