{{extend 'layout.html'}}

<style>
	#canvas			{
				position:		relative;
				border:			1pt solid #000;
				width:			100%;
				height:			75%;
				overflow-x:		scroll;
				overflow-y:		scroll;
				}
	#canvas div		{
				border:			none;
				position:		absolute;
				color:			white;
				background-color:	 #4e4ea9;
				text-align:		center;
				vertical-align:		 middle;
				opacity:		.3;
				}
	#canvas div:hover	{
				cursor:			pointer;
				opacity:		.8;
				}
	#canvas img		{
				position:		relative;
				top:			50px;
				width:			95%;
				}
</style>

<script>
	function zoom(add) {
		width = document.network.offsetWidth;
		if ( width + add > 100 ) document.network.style.width = width + add;
		}

	function handle(delta) {
/*		aspect_ratio = previous_width / document.network.offsetHeight;	*/
		if (delta < 0)
			zoom(-300);
		else
			zoom(300);
/*		document.network.style.height = document.network.offsetWidth / aspect_ratio;	*/
	}

	/* Code below adapted from http://www.adomas.org/javascript-mouse-wheel/ */
	/* Thanks to Adomas Paltanavicius */

	function wheel(event){
		var delta = 0;
		if (!event) event = window.event;
		if (event.wheelDelta) {
			delta = event.wheelDelta/120; 
		} else if (event.detail) {
			delta = -event.detail/3;
		}
		if (delta)
			handle(delta);
		if (event.preventDefault)
		        event.preventDefault();
		event.returnValue = false;
	}

	if (window.addEventListener)
		window.addEventListener('DOMMouseScroll', wheel, false);
	window.onmousewheel = document.onmousewheel = wheel;
</script>

[ <a href="../Layout/graphviz">Redo layout</a> ], 
[ <a href="../Layout/graphviz_layout">Download DOT layout</a> ], 
[ <a href="../Export/JSON">Download JSON model</a> ], 
[ <a href="{{ = session.graphviz_png }}">Download picture</a> ]

<div id=canvas>

	<center>
	<img name=network src="{{ = session.graphviz_png }}" />

	<!--{{ = XML(DijkstraMap) }}-->

</div>
Click to zoom. Use mouse wheel to zoom in or out. 
{{ if os.path.exists('/home/Master/Network/Whi2p.boolenet'): }}
<form name=main action="{{=URL(r=request, c='Layout', f='graphviz')}}" method=POST enctype="multipart/form-data">
	<input type=hidden name=Layouter value=graphviz />
	<input type=submit value="Load Matthias's Whi2p Network" />
</form>
{{ pass }}
