{{extend 'layout.html'}}

<style>
	div.image	{
			border:		1pt solid #000;
			width:		100%;
			height:		80%;
			overflow:	scroll;
			}
	div.area	{
			position:	relative;
			left:		0px;
			top:		0px;
			width:		70px;
			height:		20px;
			border:		none;
			color:		white;
			text-align:	center;
			background-color: #4e4ea9;
			opacity:	.1;
			}
	div.area:hover	{
			cursor:		pointer;
			opacity:	.8;
			}
	img.graphviz	{
			position:	relative;
			top:		50px;
			}
</style>

<script>
	function gotoDijkstra(ID) {
		document.location.href = '{{ =URL(r=request, c="Workbench", f="Dijkstra") }}?ID='+ID;
		}
</script>

<a href="{{ = session.graphvizURL }}">{{ = session.graphvizURL }}</a>

<div class=image>

{{ = XML(DijkstraMap) }}

<img class=graphviz src="{{ = session.graphvizURL }}" />

</div>


