<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>Biographer-ui Test Suite</title>

    <link rel="stylesheet" type="text/css" href="{{=URL(r=request, c="static", f="Visualization")}}/test/resources/css/visualization-html.css" />
    <link rel="stylesheet" type="text/css" href="{{=URL(r=request, c="static", f="Visualization")}}/test/resources/css/jquery-ui-1.8.13.css" />

	<script type="text/javascript" src="{{=URL(r=request, c="static", f="Visualization")}}/test/resources/js/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="{{=URL(r=request, c="static", f="Visualization")}}/test/resources/js/jquery.simulate.js"></script>
	<script type="text/javascript" src="{{=URL(r=request, c="static", f="Visualization")}}/test/resources/js/jquery-ui-1.8.12.custom.min.js"></script>
    <script type="text/javascript" src="{{=URL(r=request, c="static", f="Visualization")}}/test/resources/js/biographer-ui.js"></script>
    <script type="text/javascript" src="{{=URL(r=request, c="static", f="Visualization")}}/test/resources/examples/simple.js"></script>
    <script type="text/javascript" src="{{=URL(r=request, c="static", f="Visualization")}}/test/resources/examples/complex.js"></script>

    <script type="text/javascript">


        bui.ready(function() {
            graph = new bui.Graph(document.getElementsByTagName('body')[0]);

            bui.importFromJSON(graph, simpleExample);
        });
    </script>
</head>
<body>
</body>
</html>
