{{extend 'layout.html'}}

<h1>Workbench</h1>

| 
<a href="#Terminal">Terminal</a> | 
<a href="#JSON">JSON</a> | 
<a href="#SBML">SBML</a> | 
<a href="#BioPAX">BioPAX</a> | 
<br/>

<a name=Terminal></a>
<h3>Terminal</h3>
<pre>{{try:}}{{=session.bioGraph.DEBUG}}{{except:pass}}</pre>

<a name=JSON></a>
<h3>JSON</h3>
<pre>{{try:}}{{=session.JSON}}{{except:pass}}</pre>

<a name=SBML></a>
<h3>SBML</h3>
<pre>{{try:}}{{=session.SBML}}{{except:pass}}</pre>

<a name=BioPAX></a>
<h3>BioPAX</h3>
<pre>{{try:}}{{=session.BioPAX}}{{except:pass}}</pre>

