{{extend 'layout.html'}}

<h1>Workbench</h1>

<style>
	h3			{
				padding-top:	20px;
				}
	div.debug		{
				width:		100%;
				max-height:	400px;
				overflow:	scroll;
				border:		1pt solid #000;
				}
	div.debug iframe	{
				width:		100%;
				height:		auto;
				word-wrap:	normal;
				overflow:	hidden;
				overflow-y:	scroll;
				}
	div.debug pre		{
				border:		none;
				white-space:	pre;
				overflow:	hidden;
				}
</style>

<h3>Terminal</h3>
<div class=debug>
	<pre id=Terminal>{{try:}}{{=session.bioGraph.DEBUG}}{{except:pass}}</pre>
</div>

<!--
<h3>SBML</h3>
<div class=debug>
	<pre id=SBML>{{try:}}{{=session.bioGraph.SBML}}{{except:pass}}</pre>
</div>
-->

<a name=Layout href=Layout><h3>Layout</h3></a>
<div class=debug>
	<!--<iframe src=BioLayout></iframe>-->
	<pre id=Layout>{{try:}}{{=session.bioGraph.BioLayout}}{{except:pass}}</pre>
</div>

<a name=Layout href=JSON><h3>JSON</h3></a>
<div class=debug>
	<!--<iframe src=JSON></iframe>-->
	<pre id=JSON>{{try:}}{{=session.bioGraph.JSON}}{{except:pass}}</pre>
</div>

