.hidden {
    visibility: hidden;
}

/*
 * Please copy all changes to the .defaultText css class in the
 * visualization-html.css file.
 */
text, tspan {
    font-family: Verdana;
    font-size: 16px;
    fill: black;
}

/*
 * Please copy all changes to the .smallText css class in the
 * visualization-html.css file.
 */
text.small, tspan.small {
    font-size: 12px;
}

ellipse, circle, rect, path.rect {
    fill: white;
    stroke-width: 1px;
    stroke: black
}
ellipse.selected, circle.selected {
    fill: #eee;
}

