{{extend 'layout.html'}}

<form name=main action=upload method=POST enctype="multipart/form-data">

<a href="http://www.reactome.org/"><img src="{{=URL(r=request, c="static", f="images")}}/Reactome.png" style="vertical-align:middle;"/></a>
<br/>

<br/>
Stable identifier: <input type=text name=RSI /> <input type=submit value=Load />
<br/>

<hr/>

<script>
	function Example() {
		document.main.RSI.value = 'REACT_6167.3';
		document.main.submit();
		}
</script>

Example:<br/>
<a href="http://www.reactome.org/cgi-bin/eventbrowser_st_id?ST_ID=REACT_6167.3">Influenza Infection [Homo sapiens, Influenza A virus]</a>
<br/>
<input type=button value="Load this pathway" onClick="Example();"/>

<hr/>

For more information on the Reactome Pathway Database, please visit <a href="http://www.reactome.org/">http://www.reactome.org/</a>.

</form>

