{{extend 'layout.html'}}

<form name=main action=upload method=POST enctype="multipart/form-data">

<img src="{{=URL(r=request, c="static", f="images")}}/Reactome.png"/>
<br/>

Please go to the <a href="http://www.reactome.org/">Reactome website</a>, select your pathway and paste the <i>Stable identifier</i> here:<br/>

<input type=text name=RSI /><br/>

<hr/>
Example:<br/>

<script>
	function TryIt( ID ) {
		document.main.RSI.value = 'REACT_6167.3';
		document.main.submit();
		}
</script>

Stable identifier REACT_6167.3 : <a href="http://www.reactome.org/cgi-bin/eventbrowser_st_id?ST_ID=REACT_6167.3">Influenza Infection [Homo sapiens, Influenza A virus]</a>. <input type=button value="Try this pathway" onClick="TryIt();"/>

</form>

