<html class="no-js"><!-- no-js need it for modernzr -->

<head>
    <meta charset="utf-8" />        
    <title>{{=response.title or request.application}}</title>
    <meta name="application-name" content="{{=request.application}}" />
    {{response.files.append(URL(request.application, 'static/biographer-editor/css', 'editor.css'))}}
    {{include 'web2py_ajax.html'}}
</head>
<body>
    <div id="biog" style="position: absolute; display: none; z-index:999;">
        <form name='all_your_base_are_belong_to_us' action={{=URL(r=request,c='default',f='index')}} method="POST" target="_blank">
            <a style="cursor:pointer" onclick="document['all_your_base_are_belong_to_us'].submit()">Edit this @ Biographer</a> 
            <input type="hidden" name="jsbgn" value='{{=XML(json_string)}}'/>
        </form>
    </div>
    <div id="canvas"></div>
    <div class="selection_rect"></div>
    <ul class="zoom_menu">
        <li id="zoom_in" class="scale" data-rate='0.1'> <div>zoom in</div><div class="keyboard">alt + scroll</div> </li>
        <li id="zoom_out" class="scale" data-rate='-0.1'> <div>zoom out</div><div class="keyboard">alt + scroll</div> </li>
    </ul>
    <!-- directly include the visualization file here so the js code can have direct access to it -->
<style type="text/css" id="visualization-svg">
    {{include 'default/visualization-svg.css'}}
</style>
<!-- --------------------------------------------------------------------------------- -->
{{if session.debug:}}
<script type="text/javascript">
    {{include 'default/biographer-ui.js'}}
</script>
{{else:}}
<script type="text/javascript" src="{{=URL(request.application, 'static/biographer-editor/js', 'biographer-ui.js')}}"></script>
{{pass}}
<script type="text/javascript" src='{{=URL(request.application, 'static/biographer-editor/js', 'biographer.editor.js')}}'></script>
<script type="text/javascript" src='{{=URL(request.application, 'static/biographer-editor/js', 'interact.js')}}'></script>
<script type="text/javascript" src='{{=URL(request.application, 'static/biographer-editor/js', 'libSBGN.js')}}'></script>
<!-- --------------------------------------------------------------------------------- -->
<script type="text/javascript">
editor_config = {
    in_url : '{{=XML(in_url)}}',
    url_render : '{{=URL("render_help")}}',
    url_undo_push : '{{=URL("undo_push")}}',
    url_undo : '{{=URL("undo")}}',
    url_redo : '{{=URL("redo")}}',
    url_layout : 'http://cheetah.biologie.hu-berlin.de/layouter',
    url_import : '{{=URL("import_graph")}}',
    graphData: {{if session.editor_autosave:}} {{=XML(session.editor_autosave)}} {{else:}} {
            nodes : [],
            edges : []
        }{{pass}},
    history_redo:  [],
    history_undo:  []
}
//=========================
editor = new Editor();
bui.ready(function() {
    editor.graph = new bui.Graph($('#canvas')[0]);
    //bui.Node.bindStatic(bui.Node.ListenerType.click, editor.drawableSelect());//FIXME this does not work, y?
    console.log('redraw '+JSON.stringify(editor_config.graphData));
    editor.redrawGraph(editor_config.graphData);
    editor.setLanguage();
    editor.enableSelection();
    editor_config.history_undo.push({action: 'initialized', graph: JSON.stringify(editor.graph.toJSON())})
    editor.setMode('move');
    editor.graph.fitToPage();
    $('body').hover(function(){$('#biog').fadeIn(); }, function(){$('#biog').fadeOut(); } );
});
</script>
</body>
</html>
