<html class="no-js"><!-- no-js need it for modernzr -->

<head>
    <meta charset="utf-8" />        
    <title>{{=response.title or request.application}}</title>
    <meta name="application-name" content="{{=request.application}}" /> 
    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    {{response.files.append(URL(request.application, 'static/css', 'editor.css'))}}
    {{#------ include web2py specific js code (jquery, calendar, form stuff) ------}}
    {{include 'web2py_ajax.html'}}
</head>

<body id=body style="overflow: hidden;">
<div id="biog" style="position: absolute; display: none; z-index:999;">
    <form name='all_your_base_are_belong_to_us' action="http://{{=APP_URL}}" method="POST" target="_blank">
        <a style="cursor:pointer" onclick="document['all_your_base_are_belong_to_us'].submit()">Edit this @ Biographer</a> 
        <input type="hidden" name="jsbgn" value='{{=XML(session.editor_autosave)}}'/>
    </form>
</div>
<div id="canvas" class='droppable' style="width: 99%; height: 99%; margin-top: 0px;"></div>
<script type="text/javascript">
//-------------------------------------------
//-------------------------------------------
editor_config = {
    url_undo_push : '{{=URL("undo_push")}}',
    url_undo : '{{=URL('undo.json')}}',
    url_redo : '{{=URL('redo.json')}}',
    url_layout : '{{=URL('layout')}}',
    url_import : '{{=URL('import_graph.json')}}',
    graphData: {{if session.editor_autosave:}} {{=XML(session.editor_autosave)}} {{else:}} {
            nodes : [],
            edges : []
        }{{pass}},
    history_redo:  [],
    history_undo:  []
}
//=========================
editor = new Editor();
bui.ready(function() {
    //bui.settings.css.stylesheetUrl = '{{=URL(request.application, "static/biographer-editor/css", "visualization-svg.css")}}';//FIXME this is not working anymore
    editor.graph = new bui.Graph($('#canvas')[0]);
    //bui.Node.bindStatic(bui.Node.ListenerType.click, editor.drawableSelect());//FIXME this does not work, y?
    editor.redrawGraph(editor_config.graphData);
    editor.graph.fitToPage();
    
});

$('body').hover(
    function(){
        $('#biog').fadeIn();
        },
    function(){
        $('#biog').fadeOut();
    }
);
//-------------------------------------------
//-------------------------------------------
</script>
</body>
</html>
