{{extend 'layout.html'}}
{{if session.debug:}}
<script type="text/javascript">
    {{include 'default/biographer-ui.js'}}
</script>
{{else:}}
<script type="text/javascript" src="{{=URL(request.application, 'static/js', 'biographer-ui.js')}}"></script>
{{pass}}
{{=table}}
<script type="text/javascript">
        $('.load_iframe').click(function(){
            console.log('jup clicked it');
            $(this).parent().html('<iframe frameborder="0" height="200px" scrolling="no" src="{{=URL("render")}}?layout=biographer&q={{=URL(request.application, "static", "data_models")}}/'+$(this).attr('id')+'" width="500px"></iframe>');
        });
</script>
