body {
    /*font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; */
    font:13px/1.231 sans-serif; *font-size:small; 
    font-size: small;
    margin: 0;
}
pre {
    background-color: #eee;
}
.flash {
    font-weight: bold;
    display: none;
    position: fixed;    
    padding: 10px;
    top: 12%;
    right: 300px;
    min-width: 280px;
    opacity: 0.85;
    margin: 0 0 10px 10px;    
    color: black;    
    vertical-align: middle;
    cursor: pointer;
    background: #eee;
    border: 2px solid #aaa;
    border-radius: 5px;
    z-index: 4;
}
ul {
    margin: 0;
}
/**********************************/
#editor-header {
	width: 100%;
	background-color: #2a3942;
	margin-bottom: 5px;
	padding-left: 10px;
	font-size: 12px; 
	color: white;/*#3C3C3D;*/
	text-shadow: 1px 1px 0 #999; 
	font-weight: bold;
   	box-shadow: 0px 1px 2px #ccc;
    height: 25px;
    position: relative;
}
#editor-header #logo{
    display: inline-block;
    vertical-align: top;
}
#editor-header #logo a {
    color: #fff;
    text-decoration: none;
}
#editor-header #menu-right{
    float: right;
}
#editor-header ul {
	display: inline-block;
	list-style: none;
	text-shadow: none;
	font-weight: normal;
}
#editor-header li {
	float: left;
	width: 100px;
	text-align: center;
    height: 25px;
    line-hight: 25px;
}
#editor-header li a {
	color: #b3b3b3;
    text-decoration: none;
}
#editor-header li:hover {
	background-color: #fff;
	color: black;
}
.rm{
    position: fixed;
    width: 340px;
    height: 500px;
    top: 80px;
    right: -305px;
    z-index: 5;
}
.rm_peek{
    position: absolute;
    width: 35px;
    height: 200px;
    right: 315px;
    top: 150px;

    cursor: pointer;
}
.rm_peek .bg{
    position: relative;
    top: 80px;
    width: 35px;
    height: 35px;
    background: url('../img/biographer.sprites.png') -415px 0; 
}
.rm_peek .out{
    background: url('../img/biographer.sprites.png') -415px -35px; 
}
.rm_peek .in{
    background: url('../img/biographer.sprites.png') -415px -0px; 
}
.rm_peek:hover{
    background-color: #eee;
}
.rm_peek .keyboard {
    top: -10px;
    left: -10px;
}
.rm_peek:hover .keyboard{
    display: block;
}
.rm_body{
    width: 305px;
    height: 500px;
    position: absolute;
    background-color: #aaa;
    border: 2px solid #eee;
    border-radius: 5px;
    padding-right: 5px;
    top: 0;
    right: -5px;

}
.rm .message {
    margin: 7px;
}
.rm th {
    vertical-align: top;
    text-align: right;
    font-weight: normal;
}
.colorSelector div {
    width: 30px;
    height: 30px;
    background: url(../js/colorpicker/images/select.png) center;
}
.colorpicker{
    z-index: 6;
}
.combo_color {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 3px;
    display: inline-block;
}
.select_combo{
    cursor: pointer;
}
/**********************************/
th {
	text-align: left;
}
td {
    vertical-align: top;
}
#spacer {
    height: 50px;
}
#canvas {
    z-index: 0;
    /*margin-top: 50px;*/
    min-width: 1200px;
    min-height: 700px;
    border: solid 1px #ddd;
    /*overflow: hidden; to only show whats in the canvas*/
}
/**********************************/
.follow {
    display: none;
    z-index: 999;
    position: fixed;
}
.tool {
    width: 35px;
    height: 35px;
}
#follow_move {background: url('../img/biographer.sprites.png') -35px -35px; }
#follow_edge {background: url('../img/biographer.sprites.png') -35px -70px; }
#follow_spline {background: url('../img/biographer.sprites.png') -35px -105px; }
#follow_wrench {background: url('../img/biographer.sprites.png') -35px -140px; }

.helperS, .helperM, .helperL {
    opacity: .5;
}
.helperS {
    width: 35px;
    height: 35px;
}
.helperM {
    height: 70px;
    width: 70px;
}
.helperL {
    width: 120px;
    height: 120px;
}
#follow_LogicalOperator {background: url('../img/biographer.sprites.png') -140px -0px; }
#follow_Dissociation {background: url('../img/biographer.sprites.png') -140px -35px; }
#follow_Association {background: url('../img/biographer.sprites.png') -140px -70px; }
#follow_Process {background: url('../img/biographer.sprites.png') -140px -105px; }

#follow_Compartment {background: url('../img/biographer.sprites.png') -245px -0px; }
#follow_Complex {background: url('../img/biographer.sprites.png') -245px -120px; }

#follow_SimpleChemical {background: url('../img/biographer.sprites.png') -175px 0px; }
#follow_Macromolecule {background: url('../img/biographer.sprites.png') -175px -70px; }
#follow_NucleicAcidFeature {background: url('../img/biographer.sprites.png') -175px -140px; }
#follow_UnspecifiedEntity {background: url('../img/biographer.sprites.png') -175px -210px; }
#follow_Perturbation {background: url('../img/biographer.sprites.png') -175px -280px; }
#follow_Phenotype {background: url('../img/biographer.sprites.png') -175px -350px; }
#follow_EmptySet {background: url('../img/biographer.sprites.png') -175px -420px; }
#follow_RectangularNode {background: url('../img/biographer.sprites.png') -175px -490px; }
#follow_Tag {background: url('../img/biographer.sprites.png') -175px -560px; }
#follow_Annotation {background: url('../img/biographer.sprites.png') -175px -630px; }
#follow_VariableValue {background: url('../img/biographer.sprites.png') -175px -700px; }
/**********************************/
#simplemodal-overlay {background-color:#000;}
#simplemodal-container {
    background-color:#333; 
    border:8px solid #444; 
    padding:12px;
    color: white;
    }
#simplemodal-container  form, #simplemodal-container table, .modal_input, .modal_input th, .modal_input a {
    color: white;
}
.modal_input {
    position: relative;
    display: none;
    color: white;
}
.sc_but {
	width: 55px;
	margin-bottom: 3px;
}
/**********************************/
#marker_select_box {
	width: 220px;
	position:relative;
    float:right;
    border-radius: 4px;
    margin-bottom: 4px;
	background-color: white;
}
.marker_select {
    display: none;
    cursor: pointer;
	height: 35px;
    position: relative;
    color: black;
    padding: 3px;
}
.marker_select:hover {
	background-color: #eee;
}
.marker_select>div {
	width: 50px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
}
.selected_marker{
    background-color: #aaa !important;
}
#production div{background: url('../img/biographer.sprites.png') -365px -0px; }
#substrate div{background: url('../img/biographer.sprites.png') -365px -35px; }
#control div{background: url('../img/biographer.sprites.png') -365px -70px; }
#catalysis div{background: url('../img/biographer.sprites.png') -365px -105px; }
#inhibition div{background: url('../img/biographer.sprites.png') -365px -140px; }
#absoluteInhibition div{background: url('../img/biographer.sprites.png') -365px -175px; }
#stimulation div{background: url('../img/biographer.sprites.png') -365px -210px; }
#necessaryStimulation div{background: url('../img/biographer.sprites.png') -365px -245px; }
#absoluteStimulation div{background: url('../img/biographer.sprites.png') -365px -280px; }
#assignment div{background: url('../img/biographer.sprites.png') -365px -315px; }
#marker_none div {background: url('../img/biographer.sprites.png') -365px -350px; }
/**********************************/
.language{
    cursor: pointer;
}
.language_selection {
    position: absolute;
    top: 0;
    left: 27px;
    overflow: visible;
    z-index: 999;
    background-color: white;
    display: none;
    border-radius: 5px;
    border: solid 1px #ddd;
}
.language_current {
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    display: inline-block;
    background-color: #eee;
}
.language_selection div {
    margin: 5px;
    padding: 5px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    display: inline-block;
}
.language_selection div:hover {
    background-color: #eee;
}
.lang_selected {
    background-color: #eee;
}
.language:hover .language_selection {
    display: block;
}
/**********************************/
h3.section {
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 12px;
    magin-top: 4px;
    width: 100%;
}
h3.section.up {
    background: #eee url('../images/editor/slide_up.png') no-repeat 95% 50%;
}
h3.section.down {
    background: #eee url('../images/editor/slide_down.png') no-repeat 95% 50%;
}
/**********************************/
.tools_group, .editor_menu {
    border: 2px solid #eee;
    border-radius: 4px;
    margin-bottom: 4px;
}
.editor_menu {
    z-index: 3;
    background-color: white;
    position: fixed;
    display: block;
    min-width: 1170px;
    margin: 0;
    padding: 0 10px 0 10px;
    height: 40px;
}
.editor_menu li{
    display: inline-block;
    list-style-type: none;
    width: 35px;
    height: 35px;
    position: relative;
    margin: 5px 0 5px 0;
    cursor: pointer;
}
.editor_menu img {
    position: relative;
    bottom: -5px;
}
.editor_menu .spacer {
    width: 2px;
    padding: 0;
    margin: 0 4px 0 4px;
    background-color: #eee;
    top: -7px;
}

#save_to_session {background: url('../img/biographer.sprites.png') 0 0; }
#clear {background: url('../img/biographer.sprites.png') 0 -35px; }
#del {background: url('../img/biographer.sprites.png') 0 -70px; }
#redo {background: url('../img/biographer.sprites.png') 0 -105px; }
#undo {background: url('../img/biographer.sprites.png') 0 -140px; }
#import_file {background: url('../img/biographer.sprites.png') 0 -175px; }
#export_other {background: url('../img/biographer.sprites.png') 0 -210px; }
#layout_biographer {background: url('../img/biographer.sprites.png') 0 -245px; }
#layout_grid {background: url('../img/biographer.sprites.png') 0 -280px; }
#layout_force {background: url('../img/biographer.sprites.png') 0 -315px; }
#align_hoizontal {background: url('../img/biographer.sprites.png') 0 -350px; }
#align_vertical {background: url('../img/biographer.sprites.png') 0 -385px; }
#align_top {background: url('../img/biographer.sprites.png') 0 -420px; }
#align_bottom {background: url('../img/biographer.sprites.png') 0 -455px; }
#align_left {background: url('../img/biographer.sprites.png') 0 -490px; }
#align_right {background: url('../img/biographer.sprites.png') 0 -525px; }
#vertical_gaps_equal {background: url('../img/biographer.sprites.png') 0 -560px; }
#horizontal_gaps_equal {background: url('../img/biographer.sprites.png') 0 -595px; }
#clone {background: url('../img/biographer.sprites.png') 0 -630px; }
#combine {background: url('../img/biographer.sprites.png') 0 -665px; }
#reset {background: url('../img/biographer.sprites.png') 0 -700px; }
#hide_handles {background: url('../img/biographer.sprites.png') 0 -735px; }
#straighten_and_distribute {background: url('../img/biographer.sprites.png') 0 -770px; }
#edit_all_nodes {background: url('../img/biographer.sprites.png') 0 -805px; }
#edit_no_nodes {background: url('../img/biographer.sprites.png') 0 -840px; }

#layer_bottom {background: url('../img/biographer.sprites.png') -35px -175px; }
#layer_down {background: url('../img/biographer.sprites.png') -35px -210px; }
#layer_up {background: url('../img/biographer.sprites.png') -35px -245px; }
#layer_top {background: url('../img/biographer.sprites.png') -35px -280px; }


.tools_group li>div, .editor_menu li>div, .zoom_menu li>div {
    display: none;
    position: absolute;
    background-color: white;
    border: solid 1px #eee;
    border-radius: 2px;
    padding: 2px;
    white-space:nowrap;
    z-index: 9999999; /* FIXME this does not work, still hidden in chomium */
}
.editor_menu li>div {
    top: 55px;
}
.tools_group li:hover div, .editor_menu li:hover div, .zoom_menu li:hover div {
    display: block;
    z-index: 999;
}
/**********************************/
.keyboard {
    position: absolute;
    background-color: #aaa!important;
    padding: 2px;
    border-radius: 5px;
    opacity:1.0!important;
    display: none;
}
.editor_menu .keyboard{
    top: 30px;    
}
.tools_group .keyboard{
    left: 40px;
}
.zoom_menu .keyboard{
    top: -20px;
    left: 0px;
}
/**********************************/
.tools_group {
    padding: 5px;
}
.tools_group li {
    /*list-style: none*/
    width: 35px;
    height: 35px;
    list-style: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.tools_group img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tools_group li:hover {
    background-color: #ddd;
}
.tools_group li.active, li.fkt_active {
    background-color: #eee !important;
    border-radius: 5px;
}
.tools_group li>div {
    left: 40px;
}
.tools_click li>div {
    left: 100px;
}
#cursor {background: url('../img/biographer.sprites.png') -35px 0; }
#move {background: url('../img/biographer.sprites.png') -35px -35px; }
#Edge {background: url('../img/biographer.sprites.png') -35px -70px; }
#Spline {background: url('../img/biographer.sprites.png') -35px -105px; }
#edit {background: url('../img/biographer.sprites.png') -35px -140px; }

#SimpleChemical {background: url('../img/biographer.sprites.png') -70px 0px; }
#Macromolecule {background: url('../img/biographer.sprites.png') -70px -35px; }
#UnspecifiedEntity {background: url('../img/biographer.sprites.png') -70px -70px; }
#NucleicAcidFeature {background: url('../img/biographer.sprites.png') -70px -105px; }
#Compartment {background: url('../img/biographer.sprites.png') -70px -140px; }
#Complex {background: url('../img/biographer.sprites.png') -70px -175px; }
#Process {background: url('../img/biographer.sprites.png') -70px -210px; }
#Perturbation {background: url('../img/biographer.sprites.png') -70px -245px; }
#Phenotype {background: url('../img/biographer.sprites.png') -70px -280px; }
#EmptySet {background: url('../img/biographer.sprites.png') -70px -315px; }
#Association {background: url('../img/biographer.sprites.png') -70px -350px; }
#LogicalOperator {background: url('../img/biographer.sprites.png') -70px -385px; }
#Dissociation {background: url('../img/biographer.sprites.png') -70px -420px; }
#RectangularNode {background: url('../img/biographer.sprites.png') -70px -455px; }
#Tag {background: url('../img/biographer.sprites.png') -70px -490px; }
#Annotation {background: url('../img/biographer.sprites.png') -70px -525px; }
#VariableValue {background: url('../img/biographer.sprites.png') -70px -560px; }
/**********************************/
.zoom_menu {
    position: fixed;
    bottom: 0;
    right: 0;
}
.zoom_menu li {
    width: 35px;
    height: 35px;
    display: inline-block;
    cursor: pointer;
}
.zoom_menu li div {
    top: -45px;
    left: 0px;
}
#zoom_in {background: url('../img/biographer.sprites.png') -105px -0px; }
#zoom_out {background: url('../img/biographer.sprites.png') -105px -35px; }
#fit_to_screen {background: url('../img/biographer.sprites.png') -105px -70px; }
#scale1 {background: url('../img/biographer.sprites.png') -105px -105px; }
/**********************************/
.disabled {
    opacity: .3;
}
/**********************************/
.drop_hover {
    background-color: #FFFFF0;
}
.placeholder.drop_hover {
    background-color: red;
}
/**********************************/
input[type="text"] {
    /*width: 30px;*/
    /*height: 13px;*/
}
/**********************************/
.colorbox{
	width: 15px;
	height: 15px;
	display: inline-block;
}
.Silver {
	background-color: #C0C0C0;
}
.Gray {
	background-color: #808080;
}
.Red {
	background-color: #FF0000;
}
.Maroon {
	background-color: #800000;
}
.Yellow {
	background-color: #FFFFF0;
}
.Olive {
	background-color: #808000;
}
.Lime {
	background-color: #00FF00;
}
.Green {
	background-color: #008000;
}
.Aqua {
	background-color: #00FFFF;
}
.Teal {
	background-color: #008080;
}
.Blue {
	background-color: #0000FF;
}
.Navy {
	background-color: #000080;
}
.Fuchsia {
	background-color: #FF00FF;
}
.Purple {
	background-color: #800080;
}

.selection_rect{
    background-color: #eee;
    opacity: .2;
    border: dashed 1px black;
    position: absolute;
}

/**********************************/
.biomodels_notes>div{
    display: none;  
    position: fixed;
    background-color: white;
    border: solid 1px #eee;
    padding: 5px;
    border-radius: 5px;
}
.biomodels_notes a {
    color: blue;
    text-decoration: underline;
}
.biomodels_start {
    min-width: 500px;
    cursor: pointer;
    background: white;
    color: black;
}
.biomodels_select {
    height: 200px;
    min-width: 500px;
    overflow-y: auto;
    cursor: pointer;
    list-style: none;
    position: absolute;
    padding:0;
    display: none;
    color: black;
}
.biomodels_select li:nth-child(even){
    background-color: #F8F8FF;
}
.biomodels_select li:nth-child(odd){
    background-color: #FFF;
}
.biomodels_select li:hover{
    background-color: #FFFFF0;
}

/**********************************/

/***************************
 * CSS 3 Buttons
 * http://github.com/michenriksen/css3buttons
 * created by Michael Henriksen
 * License: Unlicense 
 * 
 * *******************/

div.button, a.button { display: inline-block; padding: 3px 5px 3px 5px; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; font-size: 12px; color: #3C3C3D; text-shadow: 1px 1px 0 #FFFFFF; background: #ECECEC url('../images/css3buttons_backgrounds.png') 0 0 no-repeat; white-space: nowrap; overflow: visible; cursor: pointer; text-decoration: none; border: 1px solid #CACACA; -webkit-border-radius: 2px; -moz-border-radius: 2px; -webkit-background-clip: padding-box; border-radius: 2px; outline: none; position: relative; zoom: 1; *display: inline; }
div.button.primary, a.button.primary { font-weight: bold }
div.button:hover, a.button:hover { color: #FFFFFF; border-color: #388AD4; text-decoration: none; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); background-position: 0 -40px; background-color: #2D7DC5; }
a.button:active,
div.button:active,
div.button.active, a.button.active { background-position: 0 -81px; border-color: #347BBA; background-color: #0F5EA2; color: #FFFFFF; text-shadow: none; }
div.button:active, a.button:active { top: 1px }
div.button.negative:hover, a.button.negative:hover { color: #FFFFFF; background-position: 0 -121px; background-color: #D84743; border-color: #911D1B; }
a.button.negative:active,
div.button.negative:active,
div.button.negative.active, a.button.negative.active { background-position: 0 -161px; background-color: #A5211E; border-color: #911D1B; }
div.button.pill, a.button.pill { -webkit-border-radius: 19px; -moz-border-radius: 19px; border-radius: 19px; padding: 2px 10px 2px 10px; }
div.button.left, a.button.left { -webkit-border-bottom-right-radius: 0px; -webkit-border-top-right-radius: 0px; -moz-border-radius-bottomright: 0px; -moz-border-radius-topright: 0px; border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-right: 0px; }
div.button.middle, a.button.middle { margin-right: 0px; margin-left: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border-right: none; border-left: none; }
div.button.right, a.button.right { -webkit-border-bottom-left-radius: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-bottomleft: 0px; -moz-border-radius-topleft: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; margin-left: 0px; }
a.button.left:active,
div.button.left:active,
a.button.middle:active,
div.button.middle:active,
div.button.right:active, a.button.right:active { top: 0px }
div.button.big, a.button.big { font-size: 16px; padding-left: 17px; padding-right: 17px; }
div.button span.icon, a.button span.icon { display: inline-block; width: 14px; height: 12px; margin: auto 7px auto auto; position: relative; top: 2px; background-image: url('../images/css3buttons_icons.png'); background-repeat: no-repeat; }
a.big.button span.icon { top: 0px }
div.button span.icon.book, a.button span.icon.book { background-position: 0 0 }
div.button:hover span.icon.book, a.button:hover span.icon.book { background-position: 0 -15px }
div.button span.icon.calendar, a.button span.icon.calendar { background-position: 0 -30px }
div.button:hover span.icon.calendar, a.button:hover span.icon.calendar { background-position: 0 -45px }
div.button span.icon.chat, a.button span.icon.chat { background-position: 0 -60px }
div.button:hover span.icon.chat, a.button:hover span.icon.chat { background-position: 0 -75px }
div.button span.icon.check, a.button span.icon.check { background-position: 0 -90px }
div.button:hover span.icon.check, a.button:hover span.icon.check { background-position: 0 -103px }
div.button span.icon.clock, a.button span.icon.clock { background-position: 0 -116px }
div.button:hover span.icon.clock, a.button:hover span.icon.clock { background-position: 0 -131px }
div.button span.icon.cog, a.button span.icon.cog { background-position: 0 -146px }
div.button:hover span.icon.cog, a.button:hover span.icon.cog { background-position: 0 -161px }
div.button span.icon.comment, a.button span.icon.comment { background-position: 0 -176px }
div.button:hover span.icon.comment, a.button:hover span.icon.comment { background-position: 0 -190px }
div.button span.icon.cross, a.button span.icon.cross { background-position: 0 -204px }
div.button:hover span.icon.cross, a.button:hover span.icon.cross { background-position: 0 -219px }
div.button span.icon.downarrow, a.button span.icon.downarrow { background-position: 0 -234px }
div.button:hover span.icon.downarrow, a.button:hover span.icon.downarrow { background-position: 0 -249px }
div.button span.icon.fork, a.button span.icon.fork { background-position: 0 -264px }
div.button:hover span.icon.fork, a.button:hover span.icon.fork { background-position: 0 -279px }
div.button span.icon.heart, a.button span.icon.heart { background-position: 0 -294px }
div.button:hover span.icon.heart, a.button:hover span.icon.heart { background-position: 0 -308px }
div.button span.icon.home, a.button span.icon.home { background-position: 0 -322px }
div.button:hover span.icon.home, a.button:hover span.icon.home { background-position: 0 -337px }
div.button span.icon.key, a.button span.icon.key { background-position: 0 -352px }
div.button:hover span.icon.key, a.button:hover span.icon.key { background-position: 0 -367px }
div.button span.icon.leftarrow, a.button span.icon.leftarrow { background-position: 0 -382px }
div.button:hover span.icon.leftarrow, a.button:hover span.icon.leftarrow { background-position: 0 -397px }
div.button span.icon.lock, a.button span.icon.lock { background-position: 0 -412px }
div.button:hover span.icon.lock, a.button:hover span.icon.lock { background-position: 0 -427px }
div.button span.icon.loop, a.button span.icon.loop { background-position: 0 -442px }
div.button:hover span.icon.loop, a.button:hover span.icon.loop { background-position: 0 -457px }
div.button span.icon.magnifier, a.button span.icon.magnifier { background-position: 0 -472px }
div.button:hover span.icon.magnifier, a.button:hover span.icon.magnifier { background-position: 0 -487px }
div.button span.icon.mail, a.button span.icon.mail { background-position: 0 -502px }
div.button:hover span.icon.mail, a.button:hover span.icon.mail { background-position: 0 -514px }
div.button span.icon.move, a.button span.icon.move { background-position: 0 -526px }
div.button:hover span.icon.move, a.button:hover span.icon.move { background-position: 0 -541px }
div.button span.icon.pen, a.button span.icon.pen { background-position: 0 -556px }
div.button:hover span.icon.pen, a.button:hover span.icon.pen { background-position: 0 -571px }
div.button span.icon.pin, a.button span.icon.pin { background-position: 0 -586px }
div.button:hover span.icon.pin, a.button:hover span.icon.pin { background-position: 0 -601px }
div.button span.icon.plus, a.button span.icon.plus { background-position: 0 -616px }
div.button:hover span.icon.plus, a.button:hover span.icon.plus { background-position: 0 -631px }
div.button span.icon.reload, a.button span.icon.reload { background-position: 0 -646px }
div.button:hover span.icon.reload, a.button:hover span.icon.reload { background-position: 0 -660px }
div.button span.icon.rightarrow, a.button span.icon.rightarrow { background-position: 0 -674px }
div.button:hover span.icon.rightarrow, a.button:hover span.icon.rightarrow { background-position: 0 -689px }
div.button span.icon.rss, a.button span.icon.rss { background-position: 0 -704px }
div.button:hover span.icon.rss, a.button:hover span.icon.rss { background-position: 0 -719px }
div.button span.icon.tag, a.button span.icon.tag { background-position: 0 -734px }
div.button:hover span.icon.tag, a.button:hover span.icon.tag { background-position: 0 -749px }
div.button span.icon.trash, a.button span.icon.trash { background-position: 0 -764px }
div.button:hover span.icon.trash, a.button:hover span.icon.trash { background-position: 0 -779px }
div.button span.icon.unlock, a.button span.icon.unlock { background-position: 0 -794px }
div.button:hover span.icon.unlock, a.button:hover span.icon.unlock { background-position: 0 -809px }
div.button span.icon.uparrow, a.button span.icon.uparrow { background-position: 0 -824px }
div.button:hover span.icon.uparrow, a.button:hover span.icon.uparrow { background-position: 0 -839px }
div.button span.icon.user, a.button span.icon.user { background-position: 0 -854px }
div.button:hover span.icon.user, a.button:hover span.icon.user { background-position: 0 -869px }
