body {
    padding: 0;
    margin: 0;
}

.placeholder {
    position: absolute;
    background: #eee;
    border: 2px dashed #ff8c00;
    opacity: 0.5;
}

.invisible {
    display: none;
}

.textDimensionCalculation {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}

.defaultText {
    font-family: Verdana;
    font-size: 16px;
}

.smallText {
    font-family: Verdana;
    font-size: 10px;
}
