{{extend 'layout.html'}}

<h1>Details</h1>

<table border=0 cellspacing=5 cellpadding=5 style="border:1pt dashed #111;">
	<tr>
		<td>{{ = session.bioGraph.NodeCount() }}</td>
		<td>Nodes</td>
	</tr>
	<tr>
		<td>{{ = session.bioGraph.EdgeCount() }}</td>
		<td>Edges</td>
	</tr>
</table>
<br/>

<h3>bioGraph object</h3>

This is the object that was generated:<br/>
<pre style="white-space:normal;">
{{ = session.bioGraph.exportDICT() }}
</pre>

<br/>

<h3>Transcoder reported:</h3>

<pre>
{{ = session.bioGraph.DEBUG }}
</pre>

<br/>

<h3>Re-Export</h3>

bioGraph python object generated the following JSON code:<br/>
<pre>
{{ = session.bioGraph.exportJSON() }}
</pre>

