{{extend 'layout.html'}}

<script type="text/javascript">

	function Check() {
		edit = document.main.BioModelsID;
		if (( edit.value.length > 5  ) && ( edit.value.substr(0, 5) == "BIOMD" )) {		// cut "BIOMD", if pasted
			edit.value = edit.value.substr(5, edit.value.length-5)
			}
		if (( edit.value.length < 1 ) || ( isNaN( document.main.BioModelsID.value ) )) {	// check if input is an integer
			document.main.Valid.value = "<< Integer expected";
			document.main.Valid.style.color = "red";
			document.main.Submit.style.visibility = "hidden";
			}
		else	{
			document.main.Valid.value = "Okay";
			document.main.Valid.style.color = "green";
			document.main.Submit.style.visibility = "visible";
			}
		}

	document.main.BioModelsID.addEventListener("DOMCharacterDataModified", Check(), true);
	document.main.BioModelsID.focus();

	function Open() {
		window.location.href = "http://www.ebi.ac.uk/biomodels-main/download?mid=BIOMD"+document.main.BioModelsID.value;
		}

	function Load( ID ) {
		document.main.BioModelsID.value = ID;
		document.main.submit();
		}
</script>

<form name=main method=POST>

<input type=hidden name=returnto value="{{ = returnto or '' }}"/>

<a href="http://www.ebi.ac.uk/biomodels-main/publmodels"><img src="{{=URL(r=request, c="static", f="images")}}/BioModels.png" style="vertical-align:bottom;"/></a>
<br/>
<br/>

<div id=Import>
   <table>
	<tr>
		<td>Please enter your <i>BioModels ID</i> of the model you want to display:</td>
		<td>
			<b>BIOMD</b>
			<input type=text name=BioModelsID onKeyUp="javascript:Check();" onClick="javascript:Check();" onMouseMove="javascript:Check();" />
			<input type=text name=Valid value="" style="border:#ffffff;" />
		</td>
	</tr>
	<tr>
		<td>Which Layouter do you want to use to arrange the Nodes:</td>
		<td>
		<select name=Layouter>
			<option value="None">don't layout</option>
			<option value="ask">ask me afterwards</option>
			<option value="internal">internal</option>
			<option value="graphviz" selected>graphviz</option>
		</select>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<!--<input type=button name=Open value="Open" onClick="Open();" />-->
			<input type=submit name=Submit value="Load" style="visibility:hidden;" />
		</td>
	</tr>
   </table>
</div>

<hr/>

<style>
	select.Previous	{
			width:		800px;
			}
</style>

Previously used BioModels (click to load):<br/>
<select name=Previous class=Previous onChange="Load(this.value);">
	<option value="" selected></option>
{{ for row in session.PreviousBioModels: }}
	<option value="{{ =row.BIOMD }}">BIOMD{{ =row.BIOMD }} - {{ =row.Title }}</option>
{{ pass }}
</select>

<hr/>

Example:
<a href="http://www.ebi.ac.uk/biomodels-main/BIOMD0000000245">Yeast Aerobic Metabolism</a>
<input type=button value="Load Example Pathway" onClick="Load('245');"/>

<hr/>

For more information on the BioModels Database of the European Bioinformatics Institute, please visit <a href="http://biomodels.net/">http://biomodels.net/</a>.

</form>

