{{extend 'layout.html'}}

<form name=main method=POST enctype="multipart/form-data">

<br/>

<div id=Import>
   <table>
	<tr>
		<td>Upload BooleanNet file:</td>
		<td><input type=file name=File onChange="submit();"/></td>
	</tr>
	<tr>
		<td>Layouter:</td>
		<td>
		<select name=Layouter>
			<option value="None">Don't Layout</option>
			<option value="ask">Ask me later</option>
			<option value="biographer">biographer (native Layouter)</option>
			<option value="graphviz" selected>graphviz</option>
		</select>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type=submit value=Load /> or 
			<input type=submit value="Load Matthias's Whi2p Network" />
		</td>
	</tr>
   </table>
</div>

<br/>

</form>

