{{extend 'layout.html'}}

<form name=main enctype="multipart/form-data" method="POST">

<a href="http://www.json.org/"><img src="{{=URL(r=request, c="static", f="images")}}/JSON3.png"/></a>
<br/>
<br/>

Please upload your file: <input type=file name=File onChange="submit();"/> <input type=submit value=Load /> <br/>

<script>
	function Example() {
		document.main.submit();
		}
</script>
<br/>
Example pathway: 
<a href="{{=URL(r=request, c="static", f="examples")}}/apoptosis_biom220_reacp.xjson">apoptosis_biom220_reacp.xjson</a>
<input type=button value="Load Example Pathway" onClick="Example();"/>

<hr/>

For more information on the <i>JavaScript Object Notation</i> Format, please visit <a href="http://www.json.org/">http://www.json.org/</a>.

</form>

