{{extend 'layout.html'}}

<form name=main action=upload method=POST enctype="multipart/form-data">

<a href="http://pid.nci.nih.gov/browse_pathways.shtml"><img src="{{=URL(r=request, c="static", f="images")}}/PID.png" style="vertical-align:middle;"/></a>
<br/>
<br/>

PID Pathway ID: <input type=text name=PIDPID /> <input type=submit value=Load />

<hr/>
Example:<br/>

<script>
	function Example() {
		document.main.PIDPID.value = 'caspase_pathway';
		document.main.submit();
		}
</script>

<a href="http://pid.nci.nih.gov/search/pathway_landing.shtml?pathway_id=caspase_pathway&pathway_name=Caspase%20cascade%20in%20apoptosis&source=NCI-Nature%20curated&what=graphic&jpg=on&ppage=1">Caspase cascade in apoptosis</a>
<br/>
<input type=button value="Load this pathway" onClick="Example();"/>

<hr/>

For more information on the NCI-nature Pathway Interaction Database, please visit <a href="http://pid.nci.nih.gov/">http://pid.nci.nih.gov/</a>.

</form>

