{{extend 'layout.html'}}

<form name=main method=POST enctype="multipart/form-data">

<a href="http://sbml.org/"><img src="{{=URL(r=request, c="static", f="images")}}/SBML.png" style="vertical-align:middle;"/></a>
<br/>
<br/>

<br/>

<div id=Import>
   <table>
	<tr>
		<td>Please choose the SBML file you want to display:</td>
		<td><input type=file name=File onChange="submit();"/></td>
	</tr>
	<tr>
		<td>Which Layouter do you want to use to arrange the Nodes:</td>
		<td>
		<select name=Layouter>
			<option value="None">Don't Layout</option>
			<option value="Ask">Ask me later</option>
			<option value="biographer">biographer (native Layouter)</option>
			<option value="graphviz" selected>graphviz</option>
		</select>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type=submit value=Load />
			(if no file is chosen, an example will be loaded)
		</td>
	</tr>
   </table>
</div>

<br/>

<script>
	function Example() {		// Import.py will automatically load an example from /static/examples/, if no File is submitted by this form
		document.main.submit();
		}
</script>

Example: <i>Reactome Pathway <b>R_168254</b></i>
<!-- <input type=button value="Load Example Pathway" onClick="Example();"/> -->

<hr/>

For more information on the SBML format, please visit <a href="http://sbml.org/">http://sbml.org/</a>.

<hr/>

In order to use this code on your machine, you need to get <a href="http://sourceforge.net/projects/sbml/files/libsbml/4.3.1/">libsbml 4.3.1</a> from <a href="http://downloads.sourceforge.net/project/sbml/libsbml/4.3.1/libSBML-4.3.1-src.tar.gz">here</a>.<br/>
Get the tarball, unpack it and run <i>./configure --with-python; make; make install</i><br/>
Requires <i>xml2-config</i>, provided by package <i>libxml2-dev</i><br/>
<a href="http://sourceforge.net/projects/sbml">libsbml's license is the GNU LGPL</a><br/>

</form>

