{{extend 'layout_editor.html'}}
<!-- script type="text/javascript" src="{{=URL(request.application, 'static/js', 'biographer-ui.js')}}"></script -->
<script type="text/javascript">
    {{include 'editor/biographer-ui.js'}}
</script>
<div id="editor-header">
	<div id="logo"> BioGrapher </div>
	<UL>
		<li><a href="http://code.google.com/p/biographer/">About</a></li>
		<li><a href="http://code.google.com/p/biographer/source/browse/?repo=server">Souce Code</a></li>
	</UL>
</div>
<table>
	<tr>
		<td></td>
		<td>
			<ul class="editor_menu">
				<li id="save_to_session"> 
				<div>save current network to session</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'disk.png')}}"/> 
				&nbsp;
				</li>
				<li id="clear"> 
				<div>clear the canvas</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'trash.png')}}"/> 
				&nbsp;
				</li>
				<!-- ---------------------------------------------------------------- -->
				<li class="spacer"></li>
				<li id="undo"> 
				<div>undo</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'undo.png')}}"/> 
				&nbsp;
				</li>
				<li id="redo"> 
				<div>redo</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'redo.png')}}"/> 
				&nbsp;
				</li>
				<!-- ---------------------------------------------------------------- -->
				<li class="spacer"></li>
				<li id="import_file"> 
				<div><b>import</b> graph from : JSON file, SBML file, BioModels.net, Reactome </div>
				<img src="{{=URL(request.application, 'static/images/editor', 'import_file.png')}}"/> 
				&nbsp;
				</li>
				<li id="import_str"> 
				<div><b>import</b> JSON graph <b>from string</b></div>
				<img src="{{=URL(request.application, 'static/images/editor', 'import_string.png')}}"/> 
				&nbsp;
				</li>
				<li class="spacer"></li>
				<li id="export_svg"> 
				<div>export current graph as SVG</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'export_svg.png')}}"/> 
				&nbsp;
				</li>
				<li id="export_json"> 
				<div>export current graph as JSON</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'export_json.png')}}"/> 
				&nbsp;
				</li>
				</li>
				<li id="export_other"> 
				<div>export current graph as: png,jpeg,pdf,tiff</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'export.png')}}"/> 
				&nbsp;
				</li>
				<!-- ---------------------------------------------------------------- -->
				<li class="spacer"></li>
				</li>
				<li id="layout_biographer"> 
				<div>apply automatic <b>biographer</b> layout</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'biographer.png')}}"/> 
				&nbsp;
				</li>
				<li id="layout_grahviz"> 
				<div>apply automatic <b>graphviz</b> layout</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'graphviz.png')}}"/> 
				&nbsp;
				</li>
				<!-- ---------------------------------------------------------------- -->
				<li class="spacer"></li>
				<li class="scale" data-rate='0.1'> 
				<div>zoom in</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'zoom_in.png')}}"/> 
				&nbsp;
				</li>
				<li class="scale" data-rate='-0.1'> 
				<div>zoom out</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'zoom_out.png')}}"/> 
				&nbsp;
				</li>
				<li id='scale1'> 
				<div>scale to default size</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'one.png')}}"/> 
				&nbsp;
				</li>
				<li id="fit_to_screen"> 
				<div>fit to page</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'fit_to_screen.png')}}"/> 
				&nbsp;
				</li>
				<!-- ---------------------------------------------------------------- -->
				<li class="spacer"></li>
				<li id='edit_all_nodes'> 
				<div>resize/move all nodes</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'select_all.png')}}"/> 
				&nbsp;
				</li>
				<li id='edit_no_nodes'> 
				<div>resize/move no nodes</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'select_none.png')}}"/> 
				&nbsp;
				</li>
				<!-- ---------------------------------------------------------------- -->
				<li class="spacer"></li>
				<li id='align_vertical'> 
				<div>align selected nodes vertically</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'align_vertical.png')}}"/> 
				&nbsp;
				</li>
				<li id='align_hoizontal'> 
				<div>align selected nodes horizontally</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'align_hoizontal.png')}}"/> 
				&nbsp;
				</li>
				<li id='align_left'> 
				<div>align selected nodes horizontally</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'align_left.png')}}"/> 
				&nbsp;
				</li>
				<li id='align_top'> 
				<div>align selected nodes horizontally</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'align_top.png')}}"/> 
				&nbsp;
				</li>
				<li id='align_right'> 
				<div>align selected nodes horizontally</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'align_right.png')}}"/> 
				&nbsp;
				</li>
				</li>
				<li id='align_bottom'> 
				<div>align selected nodes horizontally</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'align_bottom.png')}}"/> 
				&nbsp;
				</li>
				<!-- ---------------------------------------------------------------- -->
				<li class="spacer"></li>
				<li id='help'> 
				<div>help</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'help.png')}}"/> 
				&nbsp;
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>
			<ul class="tools_group tools_click">
				<li class="active" id='cursor'>
				<div>select<br />double click to move and resize</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'cursor.png')}}" id="cursor" class="tool"/>
				</li>
				<li id='edit'>
				<div>edit</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'wrench.png')}}" id="edit" class="tool"/>
				</li>
				<li id='Edge'>
				<div>draw edge</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'edge.png')}}" id="Edge" class="tool"/>
				</li>
				<li id='Spline'>
				<div>draw spline</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'spline.png')}}" id="Spline" class="tool"/>
				</li>
				<li id='del'>
				<div>delete node</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'cross.png')}}" id="cross" class="tool"/>
				</li>
				<li id="focus"> 
				<div>focus to node</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'focus.png')}}"/> 
				&nbsp;
				</li>
			</ul>
			<ul class="tools_group tools_drag">
				<li>
				<div>SimpleChemical (drag me)</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'SimpleChemical.png')}}" id="SimpleChemical" class="tool node"/>
				</li>
				<li>
				<div>Macromolecule (drag me)</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'Macromolecule.png')}}" id="Macromolecule" class="tool node"/>
				</li>
				<li>
				<div>NucleicAcidFeature (drag me)</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'NucleicAcidFeature.png')}}" id="NucleicAcidFeature" class="tool node"/>
				</li>
				<li>
				<div>UnspecifiedEntity (drag me)</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'UnspecifiedEntity.png')}}" id="UnspecifiedEntity" class="tool node"/>
				</li>
				<li>
				<div>Compartment (drag me)</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'Compartment.png')}}" id="Compartment" class="tool node no_drop_complex"/>
				</li>
				<li>
				<div>Complex (drag me)</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'Complex.png')}}" id="Complex" class="tool node"/>
				</li>
				<li>
				<div>Process (drag me)</div>
				<img src="{{=URL(request.application, 'static/images/editor', 'Process.png')}}" id="Process" class="tool node no_drop_complex"/>
				</li>
			</ul>
		</td>
		<td>
			<div id="outer_canvas">
				<img src="{{=URL(request.application, 'static/images/editor', 'cross.png')}}" id="follow_cross" class='follow' style="position: fixed;"/>
				<img src="{{=URL(request.application, 'static/images/editor', 'wrench.png')}}" id="follow_wrench" class='follow' style="position: fixed;"/>
				<img src="{{=URL(request.application, 'static/images/editor', 'edge.png')}}" id="follow_edge" class='follow' style="position: fixed;"/>
				<img src="{{=URL(request.application, 'static/images/editor', 'spline.png')}}" id="follow_spline" class='follow' style="position: fixed;"/>
				<img src="{{=URL(request.application, 'static/images/editor', 'focus_.png')}}" id="follow_focus" class='follow' style="position: fixed;"/>
				<div id="canvas" class='droppable'></div>
			</div>
		</td>
	</tr>
</table>
<!-- --------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------- -->
<form action="{{=URL('export')}}" id='export_form' style='display: none;' method="POST"></form>
<!-- --------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------- -->
<div id="import_file_modal_input" class="modal_input">
		<table>
			<tr>
				<th> JSON / SBML File </th>
                <td>
                    <form id='import_form' method="post" enctype="multipart/form-data">
                        <input type="file" id="import_file_input">
                    </form>
                </td>
			</tr>
			<tr>
				<th> <a href="http://www.ebi.ac.uk/biomodels-main/"> BioModels.net </th> </a> <td>
					<select id="biomodel_input">
						{{for i in range(1,255):}} <option value="{{=i}}">BIOMD{{='%.10d'%i}}</option> {{pass}}
					</select>
					<button class="load" id="biomodel">load</button>
				</td>
			</tr>
			<tr>
                <th> <a href="http://www.reactome.org/">Reactome</a> <br /> stable identifier </th>
                <td> <input type="text" id="reactome_id_input" placeholder="REACT_6167.3"> 
                    <button class="load" id="reactome_id">load</button>
                </td>
			</tr>
		</table>
		<br />
		<br />
		<button class='sc_but' id='cancel_modal_input'>cancel</button> or press <b>ESC</b>
</div>
<!-- --------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------- -->
<div id="import_string_modal_input" class="modal_input">
	<textarea cols="30" rows="10" id='json_string' >{"nodes":[{"id":"node0","visible":true,"sbo":240,"data":{"x":50,"y":53,"width":61,"height":61,"label":"ATP"}}],"edges":[]}</textarea>
	<br />
	<button class='sc_but' id='load_json_string'>load</button> or press <b>ENTER</b>
	<br />
	<button class='sc_but' id='cancel_node_modal_input'>cancel</button> or press <b>ESC</b>
</div>
<!-- --------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------- -->
<div id="node_modal_input" class="modal_input">
	<table>
		<tr id="node_label_row">
			<th>Label</th>
			<td> <input type="text" placeholder="ATP" id='node_label' /></td>
		</tr>
		<tr>
			<th>Unit of Information</th>
			<td> 
				<div id="uoi_group">
					<input type="text" placeholder="mt:prot" class='unit_of_information' /> 
				</div>
				<img src="{{=URL(request.application, 'static/images/editor/ico', 'add.png')}}" id="add_unit_of_information" title="add another Unit of Information"/>
			</td>
		</tr>
		<tr>
			<th>Color</th>
			<td> 
				<div class="colorbox"><input type="radio" name="node_color" value="none" checked/></div>
				<div class="colorbox Silver"><input type="radio" name="node_color" value="Silver"/></div>
				<div class="colorbox Gray"><input type="radio" name="node_color" value="Gray"/></div>
				<div class="colorbox Red"><input type="radio" name="node_color" value="Red"/></div>
				<div class="colorbox Maroon"><input type="radio" name="node_color" value="Maroon"/></div>
				<div class="colorbox Yellow"><input type="radio" name="node_color" value="Yellow"/></div>
				<div class="colorbox Olive"><input type="radio" name="node_color" value="Olive"/></div>
				<div class="colorbox Lime"><input type="radio" name="node_color" value="Lime"/></div>
				<br />
				<div class="colorbox Green"><input type="radio" name="node_color" value="Green"/></div>
				<div class="colorbox Aqua"><input type="radio" name="node_color" value="Aqua"/></div>
				<div class="colorbox Teal"><input type="radio" name="node_color" value="Teal"/></div>
				<div class="colorbox Blue"><input type="radio" name="node_color" value="Blue"/></div>
				<div class="colorbox Navy"><input type="radio" name="node_color" value="Navy"/></div>
				<div class="colorbox Fuchsia"><input type="radio" name="node_color" value="Fuchsia"/></div>
				<div class="colorbox Purple"><input type="radio" name="node_color" value="Purple"/></div>
			</td>
		</tr>
	</table>
	<button class='sc_but' id='close_modal_input'>close</button> or press <b>ESC</b> or <b>ENTER</b>
	</div>
</div>
<!-- --------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------- -->
<!-- storage for modals -->
	<div class="current_id" style="display: none"/>
	<div id='action' style="display: none"></div>
	<div id='marker_type' style="display: none"></div>
<!-- --------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------- -->
<div id="edge_modal_input" class="modal_input">
	<table>
		<tr>
			<th>End Marker</th>
			<td>
				<div id="marker_select">
					<div class="marker_select" id="">
						<div> none </div>
						<img src="{{=URL(request.application, 'static/images/editor', 'slide_down.png')}}"/> 
					</div>
					<div class="marker_select" id="modulation">
						<div> modulation </div>
						<img src="{{=URL(request.application, 'static/images/editor', 'modulation.png')}}"/> 
					</div>
					<div class="marker_select" id="inhibition">
						<div> inhibition </div>
						<img src="{{=URL(request.application, 'static/images/editor', 'inhibition.png')}}"/> 
					</div>
					<div class="marker_select" id="catalysis">
						<div> catalysis </div>
						<img src="{{=URL(request.application, 'static/images/editor', 'catalysis.png')}}"/> 
					</div>
					<div class="marker_select" id="stimulation">
						<div> stimulation </div>
						<img src="{{=URL(request.application, 'static/images/editor', 'stimulation.png')}}"/> 
					</div>
					<div class="marker_select" id="assignment">
						<div> assignment </div>
						<img src="{{=URL(request.application, 'static/images/editor', 'assignment.png')}}"/> 
					</div>
					<div class="marker_select" id="necessaryStimulation">
						<div> necessaryStimulation </div>
						<img src="{{=URL(request.application, 'static/images/editor', 'necessaryStimulation.png')}}"/> </div>
					<div class="marker_select" id="absoluteInhibition">
						<div> absoluteInhibition </div>
						<img src="{{=URL(request.application, 'static/images/editor', 'absoluteInhibition.png')}}"/> </div>
				</div>
			</td>
		</tr>
	</table>
	<button class='sc_but' id='close_modal_input'>close</button> or press <b>ESC</b>
	</div>
</div>
<!-- --------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------- -->
<div id="export_file_modal_input" class="modal_input">
	<table>
		<tr>
			<th>Choose Export Format</th>
			<td>
				<select id="export_format_select">
					<option value="">... choose</option>
					{{for frmt in 'png jpg pdf tiff'.split():}} <option>{{=frmt}}</option> {{pass}}
				</select>
			</td>
		</tr>
	</table>
	<br />
	<br />
	<button class='sc_but' id='cancel_modal_input'>cancel</button> or press <b>ESC</b>
</div>
<!-- --------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------- -->
<script type="text/javascript">
//-------------------------------------------
//-------------------------------------------
var graphData =  {{if session.editor_autosave:}} {{=XML(session.editor_autosave)}} {{else:}} {
   nodes : [
/*      {
         "data" : {
            "label" : "ATP",
            "modification" : [],
            "x" : 50,
            "y" : 50
         },
         "id" : "Reactome:29358",
         "is_abstract" : false,
         "sbo" : 247,
         "type" : "SimpleCompound"
      },
  */ ],
   edges : []
   }{{pass}};
var history_undo = {{if session.editor_histroy_undo:}}  {{=XML([i['action'] for i in session.editor_histroy_undo])}} {{else:}} []{{pass}};
var history_redo = {{if session.editor_histroy_redo:}}  {{=XML([i['action'] for i in session.editor_histroy_redo])}} {{else:}} []{{pass}};
bui.ready(function() {
    bui.settings.css.stylesheetUrl = '{{=URL(request.application, 'static/css', 'visualization-svg.css')}}'
    graph = new bui.Graph($('#canvas')[0]);
    bui.importFromJSON(graph, graphData);
    //=========================
    //doHeartBeat();
    //=========================
    //add edge select listner to all nodes 
    all_drawables = graph.drawables(); 
    for (var key in all_drawables) {
	all_drawables[key].bind(bui.Node.ListenerType.click, drawableSelect);
    }
    $('#canvas').droppable({ 
	hoverClass: 'drop_hover',
	drop: function(event, ui){dropFkt(event, ui, this);},
    });
    $('.Complex, .Compartment').droppable({ 
	hoverClass: 'drop_hover',
	over : function(){$('#canvas').droppable("disable");},
	out : function(){$('#canvas').droppable("enable");},
	drop: function(event, ui){dropFkt(event, ui, this);},
    });
});
//-------------------------------------------
//-------------------------------------------
</script>
