{{extend 'layout.html'}}

<form name=main action=upload method=POST enctype="multipart/form-data">

<img src="{{=URL(r=request, c="static", f="images")}}/SBML.png"/>

<script>
	function Upload() {
		document.main.way.upload.checked = true;
		}
	function Example() {
		document.main.way.example.checked = true;
		document.main.SBML.value = document.main.example.value;
		}
</script>

<br/>

<input type=radio name=way value=upload checked />
Upload an SBML file:<br/>
<input type=file name=File onClick="Upload();" onKeyDown="Upload();"/>

<br/>

<input type=radio name=way value=download />
Load an SBML file from URL:<br/>
<input type=text name=URL value="http://" />

<br/>

<input type=radio name=way value=text />
Paste your SBML code here: <br/>
<textarea name=text style="width:600px;height:400px;"></textarea>

<br/>

<input type=radio name=way value=example />
or try an example SBML

<br/>

<input type=submit value=Start />
<br/>

<hr/>

For more information on the SBML format, visit <a href="http://sbml.org/">http://sbml.org/</a>.

<hr/>

In order to use this code on your machine, you need to get <a href="http://sourceforge.net/projects/sbml/files/libsbml/4.3.1/">libsbml 4.3.1</a> from <a href="http://downloads.sourceforge.net/project/sbml/libsbml/4.3.1/libSBML-4.3.1-src.tar.gz">here</a>.<br/>
Get the tarball, unpack it and run <i>./configure --with-python; make; make install</i><br/>
Requires <i>xml2-config</i>, provided by package <i>libxml2-dev</i><br/>
<a href="http://sourceforge.net/projects/sbml">libsbml's license is the GNU LGPL</a><br/>

<input type=hidden name=example value=''/>

</form>

