{{extend 'layout.html'}}

<style>
	pre.script	{
			border:		1pt solid #000;
			max-height:	600px;
			overflow:	scroll;
			white-space:	pre;
			}
</style>

<pre class=script>{{ = session.graphvizDOT }}</pre>

<hr/>

In order to use this code on your machine, you need to have the python-pygraphviz package installed,<br/>
which is available from <a href="http://networkx.lanl.gov/pygraphviz/">http://networkx.lanl.gov/pygraphviz/</a>.<br/>
Of course, you also need <a href="http://www.graphviz.org/">graphviz</a>.

